@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

/* section {
    border: 2px red solid;
}

section div {
    border: 2px blue solid;
}

section div div {
    border: 2px blue solid;
}

article {
    border: 2px green solid;
} */

.sec-cont {
    display: flex;
    padding: 5px;
}

.container-left {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-left h1 {
    font-size: 44;
    font-weight: 400;
}

.container-left h3 {
    font-size: 16;
    font-weight: 500;
    color: darkblue;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article h3 {
    margin-top: 20px;
}

article p {
    color: #333;
    font-weight: 500;
}

figure {
    width: 230px;
}

img {
    width: 100%;
    display: inline-block;
}